Repository openforge/rock-the-steps-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
        "**/*.ts": [
            "eslint --fix"
        ],
        "**/*.html": [
            "eslint --fix"
        ],
        "**/*.scss": [
            "stylelint --fix"
        ],
        "**/*.css": [
            "stylelint --fix"
        ]
}

Touch zones tutorial endless points (#96)
  apps/rock-the-steps/src/app/play-stage/play-stage.component.ts
  apps/rock-the-steps/src/app/result-screen/result-screen.component.html
  apps/rock-the-steps/src/app/result-screen/result-screen.component.scss
  apps/rock-the-steps/src/app/result-screen/result-screen.component.ts
  apps/rock-the-steps/src/app/stage-select/tutorial-modal/tutorial-modal.component.html
  apps/rock-the-steps/src/app/stage-select/tutorial-modal/tutorial-modal.component.scss
  apps/rock-the-steps/src/app/stage-select/tutorial-modal/tutorial-modal.component.ts
  apps/rock-the-steps/src/assets/powers/auras.json
  apps/rock-the-steps/src/assets/powers/auras.png
  apps/rock-the-steps/src/assets/tutorial/touch-zones.png
  apps/rock-the-steps/src/global.scss
  libs/shared/data-access-model/src/lib/classes/character/character.ts
  libs/shared/data-access-model/src/lib/constants/game-keys.constants.ts
  libs/shared/data-access-model/src/lib/enums/game.enum.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  libs/shared/phaser-singleton/src/lib/utilities/character-animation.ts
  libs/shared/phaser-singleton/src/lib/utilities/object-creation-helper.ts
  libs/shared/phaser-singleton/src/lib/utilities/steps-helper.ts
Due: eslint --fix, stylelint --fix

Added back buttons instead of touchzones - Added back buttons instead touchzones - Added pressed state for the buttons of direction
  apps/rock-the-steps/src/assets/buttons/controls-left.png
  apps/rock-the-steps/src/assets/buttons/controls-right.png
  libs/shared/data-access-model/src/lib/constants/game-keys.constants.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
  libs/shared/phaser-singleton/src/lib/utilities/touch-zones-helper.ts
Due: eslint --fix

Added back buttons instead of touchzones (#102)
  apps/rock-the-steps/src/app/stage-select/tutorial-modal/tutorial-modal.component.html
  apps/rock-the-steps/src/assets/buttons/controls-left.png
  apps/rock-the-steps/src/assets/buttons/controls-right.png
  apps/rock-the-steps/src/assets/tutorial/buttons.png
  apps/rock-the-steps/src/assets/tutorial/touch-zones.png
  libs/shared/data-access-model/src/lib/constants/game-keys.constants.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
  libs/shared/phaser-singleton/src/lib/utilities/touch-zones-helper.ts
Due: eslint --fix

fix(city): background swap assets, adjust position (#97)
  apps/rock-the-steps/src/assets/city-scene/city-CHINA_TOWN.png
  apps/rock-the-steps/src/assets/city-scene/city-RITTEN_HOUSE.png
Due: none

fix(world): add setGameSize to prevent interactive being below elements (#100)
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
Due: eslint --fix

Added back buttons instead of touchzones - Added back buttons instead touchzones - Added pressed state for the buttons of direction
  apps/rock-the-steps/src/app/stage-select/tutorial-modal/tutorial-modal.component.html
  apps/rock-the-steps/src/assets/tutorial/buttons.png
  apps/rock-the-steps/src/assets/tutorial/touch-zones.png
Due: eslint --fix

Updated readme file - Added commands for the build of different platforms.| - Added workaround for package installation as Mac machines can throw error by the difference of processors
  README.md
Due: none

Pigeon Physic Enhanced, Unlocking levels, result endless (#103)
  apps/rock-the-steps/src/app/result-screen/result-screen.component.scss
  apps/rock-the-steps/src/app/stage-select/difficult-select-modal/difficult-select-modal.component.html
  apps/rock-the-steps/src/app/stage-select/difficult-select-modal/difficult-select-modal.component.ts
  apps/rock-the-steps/src/app/stage-select/stage-select.component.html
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
  apps/rock-the-steps/src/assets/background/endless-background.png
  libs/shared/data-access-model/src/lib/classes/obstacles/pigeon.class.ts
  libs/shared/data-access-model/src/lib/constants/game-units.constants.ts
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
  libs/shared/phaser-singleton/src/lib/utilities/object-creation-helper.ts
Due: eslint --fix, stylelint --fix

Updated readme file (#104)
  README.md
Due: none

Music, Leaderboards btn & Tutorial (#105)
  apps/rock-the-steps/src/app/stage-select/stage-select.component.html
  apps/rock-the-steps/src/app/stage-select/tutorial-modal/tutorial-modal.component.html
  apps/rock-the-steps/src/app/stage-select/tutorial-modal/tutorial-modal.component.scss
  apps/rock-the-steps/src/assets/tutorial/buttons.png
  apps/rock-the-steps/src/assets/tutorial/intro1.png
  apps/rock-the-steps/src/assets/tutorial/intro2.png
  apps/rock-the-steps/src/assets/tutorial/intro3.png
  apps/rock-the-steps/src/assets/tutorial/obstacle1.png
  apps/rock-the-steps/src/assets/tutorial/obstacle2.png
  apps/rock-the-steps/src/assets/tutorial/obstacle3.png
  apps/rock-the-steps/src/assets/tutorial/obstacle4.png
  apps/rock-the-steps/src/assets/tutorial/power1.png
  apps/rock-the-steps/src/assets/tutorial/power2.png
  apps/rock-the-steps/src/assets/tutorial/power3.png
  apps/rock-the-steps/src/assets/tutorial/tutorial1.png
  apps/rock-the-steps/src/assets/tutorial/tutorial2.png
  apps/rock-the-steps/src/assets/tutorial/tutorial3.png
  apps/rock-the-steps/src/assets/tutorial/tutorial4.png
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
Due: eslint --fix, stylelint --fix

No bounce, accumulative gloves (#106)
  libs/shared/data-access-model/src/lib/classes/character/character.ts
  libs/shared/data-access-model/src/lib/constants/game-units.constants.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  libs/shared/phaser-singleton/src/lib/utilities/steps-helper.ts
Due: eslint --fix

docs(): README updated
  README.md
Due: none

Added Liberty bell falling from the top (#108)
  libs/shared/data-access-model/src/lib/constants/game-units.constants.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  libs/shared/phaser-singleton/src/lib/utilities/object-creation-helper.ts
Due: eslint --fix

Added Liberty bell falling from the top
  libs/shared/data-access-model/src/lib/constants/game-units.constants.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  libs/shared/phaser-singleton/src/lib/utilities/object-creation-helper.ts
Due: eslint --fix

Sounds and Hud (#109)
  libs/shared/data-access-model/src/lib/constants/game-units.constants.ts
  libs/shared/data-access-model/src/lib/services/audio.service.ts
  libs/shared/phaser-singleton/src/lib/scenes/pause.scene.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
Due: eslint --fix

Sounds and Hud - Added music for powerup and damages - Added new design for hud of points - Improved modal style
  libs/shared/data-access-model/src/lib/constants/game-units.constants.ts
  libs/shared/data-access-model/src/lib/services/audio.service.ts
  libs/shared/phaser-singleton/src/lib/phaser-singleton.module.ts
  libs/shared/phaser-singleton/src/lib/scenes/pause.scene.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
Due: eslint --fix

Sounds and Hud - Added music for powerup and damages - Added new design for hud of points - Improved modal style
  libs/shared/phaser-singleton/src/lib/phaser-singleton.module.ts
Due: eslint --fix

Rollback of jump button (#110)
  apps/rock-the-steps/ios/App/App.xcodeproj/project.pbxproj
  apps/rock-the-steps/src/assets/tutorial/tutorial2.png
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
Due: eslint --fix

Rollback of jump button - Added back the jump button as well - Added to the tutorial the correct image of the jump button
  apps/rock-the-steps/ios/App/App.xcodeproj/project.pbxproj
  apps/rock-the-steps/src/assets/tutorial/tutorial2.png
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
Due: eslint --fix

Fix for style of buttons Fix on time of big jumps power up
  apps/rock-the-steps/src/app/home/settings-modal/settings-modal.component.html
  apps/rock-the-steps/src/app/stage-select/tutorial-modal/tutorial-modal.component.html
  apps/rock-the-steps/src/global.scss
  apps/rock-the-steps/src/theme/variables.scss
  libs/shared/data-access-model/src/lib/classes/character/character.ts
Due: eslint --fix, stylelint --fix

Rollback of jump button - Added back the jump button as well - Added to the tutorial the correct image of the jump button - Fix of hud was behind of the museum - Improved logic of stairs
  libs/shared/data-access-model/src/lib/constants/game-units.constants.ts
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
  libs/shared/phaser-singleton/src/lib/utilities/steps-helper.ts
Due: eslint --fix

Rollback of jump button - Added back the jump button as well - Added to the tutorial the correct image of the jump button - Fix of hud was behind of the museum - Improved logic of stairs
  apps/rock-the-steps/src/global.scss
  apps/rock-the-steps/src/theme/variables.scss
Due: stylelint --fix

Tutorial bigjumps issues (#111)
  apps/rock-the-steps/src/app/home/settings-modal/settings-modal.component.html
  apps/rock-the-steps/src/app/stage-select/tutorial-modal/tutorial-modal.component.html
  apps/rock-the-steps/src/global.scss
  apps/rock-the-steps/src/theme/variables.scss
  libs/shared/data-access-model/src/lib/classes/character/character.ts
  libs/shared/data-access-model/src/lib/constants/game-units.constants.ts
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
  libs/shared/phaser-singleton/src/lib/utilities/steps-helper.ts
Due: eslint --fix, stylelint --fix

fix(): fixed endless mode no updating score
  apps/rock-the-steps/src/app/result-screen/result-screen.component.ts
  apps/rock-the-steps/src/app/stage-select/difficult-select-modal/difficult-select-modal.component.ts
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
  libs/shared/data-access-model/src/lib/models/stage.interface.ts
  package-lock.json
Due: eslint --fix

feat(): added ability to clear points
  apps/rock-the-steps/src/app/home/settings-modal/settings-modal.component.html
  apps/rock-the-steps/src/app/home/settings-modal/settings-modal.component.ts
  apps/rock-the-steps/src/app/result-screen/result-screen.component.ts
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
  libs/shared/data-access-model/src/lib/enums/index.ts
  libs/shared/data-access-model/src/lib/enums/preferences.enum.ts
  libs/shared/data-access-model/src/lib/services/audio.service.ts
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
Due: eslint --fix

fix(): user now can't score points on scenarios already completed
  apps/rock-the-steps/src/app/result-screen/result-screen.component.ts
Due: eslint --fix

fix/endless-mode-score-points (#112)
  apps/rock-the-steps/src/app/home/settings-modal/settings-modal.component.html
  apps/rock-the-steps/src/app/home/settings-modal/settings-modal.component.ts
  apps/rock-the-steps/src/app/result-screen/result-screen.component.ts
  apps/rock-the-steps/src/app/stage-select/difficult-select-modal/difficult-select-modal.component.ts
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
  libs/shared/data-access-model/src/lib/enums/index.ts
  libs/shared/data-access-model/src/lib/enums/preferences.enum.ts
  libs/shared/data-access-model/src/lib/models/stage.interface.ts
  libs/shared/data-access-model/src/lib/services/audio.service.ts
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
  package-lock.json
Due: eslint --fix

Fix on dragging buttons (#113)
  libs/shared/data-access-model/src/lib/constants/game-keys.constants.ts
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
Due: eslint --fix

Fix on dragging buttons - Added listener for jump and moves to avoid the dragging hack of have infinite moving when dragging out of the tap of the button
  libs/shared/data-access-model/src/lib/constants/game-keys.constants.ts
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
Due: eslint --fix

Rollback of phaser singleton
  libs/shared/phaser-singleton/src/lib/phaser-singleton.module.ts
Due: eslint --fix

New joiners screen and damage fix (#114)
  apps/rock-the-steps/src/app/home/home.page.html
  apps/rock-the-steps/src/app/home/home.page.scss
  apps/rock-the-steps/src/app/home/home.page.ts
  apps/rock-the-steps/src/assets/welcome-room.png
  libs/shared/data-access-model/src/lib/classes/character/character.ts
  libs/shared/data-access-model/src/lib/constants/game-units.constants.ts
  libs/shared/data-access-model/src/lib/enums/preferences.enum.ts
Due: eslint --fix, stylelint --fix

Fix points issues for new users - Fixed validations on stage selection screen due to bad logic was failing to create initial data for new users
  apps/rock-the-steps/package-lock.json
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
  package-lock.json
Due: eslint --fix

Fix points issues for new users (#115)
  apps/rock-the-steps/package-lock.json
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
  package-lock.json
Due: eslint --fix

Update README.md
  README.md
Due: none

… (#117)
  apps/rock-the-steps/android/.idea/misc.xml
  apps/rock-the-steps/package-lock.json
  apps/rock-the-steps/src/app/home/home.page.html
  apps/rock-the-steps/src/app/home/home.page.scss
  apps/rock-the-steps/src/app/stage-select/stage-select.component.html
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
  apps/rock-the-steps/src/global.scss
  apps/rock-the-steps/src/theme/theme.scss
  libs/shared/data-access-model/src/lib/constants/game-keys.constants.ts
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
  package-lock.json
Due: eslint --fix, stylelint --fix

Change on home and bump (#118)
  apps/rock-the-steps/ios/App/App.xcodeproj/project.pbxproj
  apps/rock-the-steps/src/app/home/home.page.ts
  package.json
Due: eslint --fix

Change on home and bump
  apps/rock-the-steps/ios/App/App.xcodeproj/project.pbxproj
  apps/rock-the-steps/src/app/home/home.page.ts
  package.json
Due: eslint --fix

Fix points issues for new users
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
  libs/shared/data-access-model/src/lib/services/game-connect.service.ts
  package-lock.json
Due: eslint --fix

feat(): capacitor 5 dependencies and migration files added
  apps/rock-the-steps/android/.idea/misc.xml
  apps/rock-the-steps/android/app/build.gradle
  apps/rock-the-steps/android/app/capacitor.build.gradle
  apps/rock-the-steps/android/app/src/main/AndroidManifest.xml
  apps/rock-the-steps/android/build.gradle
  apps/rock-the-steps/android/gradle.properties
  apps/rock-the-steps/android/gradle/wrapper/gradle-wrapper.jar
  apps/rock-the-steps/android/gradle/wrapper/gradle-wrapper.properties
  apps/rock-the-steps/android/gradlew
  apps/rock-the-steps/android/gradlew.bat
  apps/rock-the-steps/android/variables.gradle
  apps/rock-the-steps/ios/.gitignore
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@1x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x-1.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@3x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@1x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x-1.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@3x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@1x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x-1.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@3x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@2x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@3x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@1x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@2x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-83.5x83.5@2x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/rock-the-steps/ios/App/Podfile.lock
  apps/rock-the-steps/package-lock.json
  apps/rock-the-steps/package.json
  package-lock.json
  package.json
Due: none
