Repository openforge/rock-the-steps-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
        "**/*.ts": [
            "eslint --fix"
        ],
        "**/*.html": [
            "eslint --fix"
        ],
        "**/*.scss": [
            "stylelint --fix"
        ],
        "**/*.css": [
            "stylelint --fix"
        ]
}

feat(): added get user score function to game connect service
  libs/shared/data-access-model/src/lib/services/game-connect.service.ts
Due: eslint --fix

feat/capacitor5-migration (#119)
  apps/rock-the-steps/android/.idea/misc.xml
  apps/rock-the-steps/android/app/build.gradle
  apps/rock-the-steps/android/app/capacitor.build.gradle
  apps/rock-the-steps/android/app/src/main/AndroidManifest.xml
  apps/rock-the-steps/android/build.gradle
  apps/rock-the-steps/android/gradle.properties
  apps/rock-the-steps/android/gradle/wrapper/gradle-wrapper.jar
  apps/rock-the-steps/android/gradle/wrapper/gradle-wrapper.properties
  apps/rock-the-steps/android/gradlew
  apps/rock-the-steps/android/gradlew.bat
  apps/rock-the-steps/android/variables.gradle
  apps/rock-the-steps/ios/.gitignore
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@1x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x-1.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@3x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@1x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x-1.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@3x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@1x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x-1.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@3x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@2x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@3x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@1x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@2x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-83.5x83.5@2x.png
  apps/rock-the-steps/ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/rock-the-steps/ios/App/Podfile.lock
  apps/rock-the-steps/package-lock.json
  apps/rock-the-steps/package.json
  libs/shared/data-access-model/src/lib/services/game-connect.service.ts
  package-lock.json
  package.json
Due: eslint --fix

Added capacitor retrieve score
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
  libs/shared/data-access-model/src/lib/services/game-connect.service.ts
Due: eslint --fix

Fix points issues for new users
  apps/rock-the-steps/ios/App/Podfile.lock
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
  libs/shared/data-access-model/src/lib/services/game-connect.service.ts
  package-lock.json
Due: eslint --fix

fix(): fixed issue submitting and retrieving score
  apps/rock-the-steps/src/app/app.component.ts
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
  libs/shared/data-access-model/src/lib/classes/singletons/game-engine.singleton.ts
  libs/shared/data-access-model/src/lib/services/game-connect.service.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
Due: eslint --fix

fix(): google play leaderboard id updated
  libs/shared/data-access-model/src/lib/constants/game-connect.constant.ts
Due: eslint --fix

feat(): added latest capacitor game connect plugin version
  apps/rock-the-steps/ios/App/Podfile.lock
  apps/rock-the-steps/package-lock.json
  apps/rock-the-steps/package.json
  package-lock.json
  package.json
Due: none

fix/game-connect-score-issue (#121)
  apps/rock-the-steps/ios/App/Podfile.lock
  apps/rock-the-steps/package-lock.json
  apps/rock-the-steps/package.json
  apps/rock-the-steps/src/app/app.component.ts
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
  libs/shared/data-access-model/src/lib/classes/singletons/game-engine.singleton.ts
  libs/shared/data-access-model/src/lib/constants/game-connect.constant.ts
  libs/shared/data-access-model/src/lib/services/game-connect.service.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  package-lock.json
  package.json
Due: eslint --fix

Fix points issues for users after reinstall
  apps/rock-the-steps/ios/App/Podfile.lock
  apps/rock-the-steps/src/app/home/home.page.html
  apps/rock-the-steps/src/app/home/home.page.scss
  apps/rock-the-steps/src/global.scss
  apps/rock-the-steps/src/index.html
Due: eslint --fix, stylelint --fix

Change on home and bump
  .DS_Store
  apps/rock-the-steps/ios/App/Podfile.lock
Due: none

Cleaned consoles
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
Due: eslint --fix

Removed fonts of index.html
  apps/rock-the-steps/src/index.html
Due: eslint --fix

Removed logs
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
Due: eslint --fix

Fix points reseted (#123)
  .DS_Store
  apps/rock-the-steps/ios/App/Podfile.lock
  apps/rock-the-steps/src/app/home/home.page.html
  apps/rock-the-steps/src/app/home/home.page.scss
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
  apps/rock-the-steps/src/global.scss
  apps/rock-the-steps/src/index.html
Due: eslint --fix, stylelint --fix

Bump version
  apps/rock-the-steps/ios/App/App.xcodeproj/project.pbxproj
  package.json
Due: none

Removing clear buttons before prelaunch
  apps/rock-the-steps/src/app/home/settings-modal/settings-modal.component.html
Due: eslint --fix

Bump version
  package.json
Due: none

Bump version
  apps/rock-the-steps/ios/App/App.xcodeproj/project.pbxproj
Due: none

Removed console
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
Due: eslint --fix

Prelaunch (#125)
  apps/rock-the-steps/ios/App/App.xcodeproj/project.pbxproj
  apps/rock-the-steps/src/app/home/settings-modal/settings-modal.component.html
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
  package.json
Due: eslint --fix

feature/UpdateDependencies (#126)
  .eslintrc.json
  .gitignore
  .prettierignore
  apps/rock-the-steps-e2e/.babelrc
  apps/rock-the-steps-e2e/project.json
  apps/rock-the-steps/.babelrc
  apps/rock-the-steps/ios/App/Podfile.lock
  apps/rock-the-steps/project.json
  apps/rock-the-steps/src/app/home/home.page.ts
  apps/rock-the-steps/src/app/network/internet-connection-fail/internet-connection-fail.component.ts
  apps/rock-the-steps/src/app/result-screen/result-screen.component.ts
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
  apps/rock-the-steps/src/polyfills.ts
  apps/rock-the-steps/src/test.ts
  libs/shared/data-access-model/project.json
  libs/shared/phaser-singleton/project.json
  libs/shared/phaser-singleton/src/lib/phaser-singleton.module.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  migrations.json
  nx.json
  package-lock.json
  package.json
Due: eslint --fix

fix(): adding screenshot for readme
  .vscode/settings.json
  README.md
  screenshot.png
Due: none
