Repository openforge/rock-the-steps-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Fix/fixes animation stick and china (#86)
  apps/rock-the-steps/src/assets/steps/steps-CHINA_TOWN.png
  libs/shared/data-access-model/src/lib/classes/World.class.ts
  libs/shared/data-access-model/src/lib/classes/character/character.ts
  libs/shared/data-access-model/src/lib/constants/game-units.constants.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  libs/shared/phaser-singleton/src/lib/utilities/character-animation.ts
  libs/shared/phaser-singleton/src/lib/utilities/steps-helper.ts
Due: eslint --fix

Multiple fixes (#87)
  apps/rock-the-steps/src/app/stage-select/difficult-select-modal/difficult-select-modal.component.html
  apps/rock-the-steps/src/app/stage-select/difficult-select-modal/difficult-select-modal.component.scss
  apps/rock-the-steps/src/app/stage-select/difficult-select-modal/difficult-select-modal.component.ts
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
  libs/shared/data-access-model/src/lib/classes/World.class.ts
  libs/shared/data-access-model/src/lib/classes/character/character.ts
  libs/shared/data-access-model/src/lib/classes/obstacles/pigeon.class.ts
  libs/shared/data-access-model/src/lib/constants/game-units.constants.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
Due: eslint --fix, stylelint --fix

fix(): update assetIds to use enums
  libs/shared/data-access-model/src/lib/services/audio.service.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
Due: eslint --fix

fix(): fixed by adding ion buttons to scene
  apps/rock-the-steps/src/app/play-stage/play-stage.component.html
  apps/rock-the-steps/src/app/play-stage/play-stage.component.scss
  apps/rock-the-steps/src/app/play-stage/play-stage.component.ts
  libs/shared/data-access-model/src/lib/constants/game-keys.constants.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
Due: eslint --fix, stylelint --fix

feat(): added keyboard functionality
  apps/rock-the-steps/src/app/play-stage/play-stage.component.html
Due: eslint --fix

feat(): touch zones added
  apps/rock-the-steps/src/app/play-stage/play-stage.component.html
  libs/shared/data-access-model/src/lib/enums/index.ts
  libs/shared/data-access-model/src/lib/enums/zone-type.enum.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  libs/shared/phaser-singleton/src/lib/utilities/touch-zones-helper.ts
Due: eslint --fix

fix(): unnecessary code removed
  apps/rock-the-steps/src/app/play-stage/play-stage.component.ts
Due: eslint --fix

fix(): fixed character continues jumping
  libs/shared/phaser-singleton/src/lib/utilities/touch-zones-helper.ts
Due: eslint --fix

fix(): fixed lose screen flash
  apps/rock-the-steps/src/app/result-screen/result-screen.component.html
  apps/rock-the-steps/src/app/result-screen/result-screen.component.ts
Due: eslint --fix

fix(audio): swap non-phaser sounds to use capacitor audio (#83)
  apps/rock-the-steps/android/app/capacitor.build.gradle
  apps/rock-the-steps/android/capacitor.settings.gradle
  apps/rock-the-steps/ios/App/Podfile
  apps/rock-the-steps/package.json
  apps/rock-the-steps/src/assets/capacitor-sounds/failure-drum-sound-effect-2-7184.mp3
  apps/rock-the-steps/src/assets/capacitor-sounds/success-1-6297.mp3
  apps/rock-the-steps/src/assets/phaser-audios/background/background-music-for-mobile-casual-video-game-short-8-bit-music-164703.mp3
  apps/rock-the-steps/src/assets/phaser-audios/background/video-games-background-music-for-mobile-casual-video-game-short-8-bit-music-164703-license.txt
  apps/rock-the-steps/src/assets/phaser-audios/jump/cartoon-jump-6462.mp3
  libs/shared/data-access-model/src/lib/services/audio.service.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  package.json
Due: eslint --fix

Endless mode added (#88)
  apps/rock-the-steps/src/app/stage-select/difficult-select-modal/difficult-select-modal.component.html
  apps/rock-the-steps/src/app/stage-select/difficult-select-modal/difficult-select-modal.component.scss
  apps/rock-the-steps/src/global.scss
  libs/shared/data-access-model/src/lib/classes/World.class.ts
  libs/shared/data-access-model/src/lib/classes/character/character.ts
  libs/shared/data-access-model/src/lib/classes/objects/floor.class.ts
  libs/shared/data-access-model/src/lib/constants/game-units.constants.ts
  libs/shared/data-access-model/src/lib/enums/levels.enum.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  libs/shared/phaser-singleton/src/lib/utilities/steps-helper.ts
Due: eslint --fix, stylelint --fix

chore(): bump capacitor-game-connect version
  apps/rock-the-steps/package-lock.json
  apps/rock-the-steps/package.json
  package-lock.json
  package.json
Due: none

chore(): bump capacitor-game-connect version (#91)
  apps/rock-the-steps/package-lock.json
  apps/rock-the-steps/package.json
  package-lock.json
  package.json
Due: none

fix(): feedback resolved
  apps/rock-the-steps/src/app/result-screen/result-screen.component.ts
Due: eslint --fix

fix/touch-area-buttons (#90)
  apps/rock-the-steps/src/app/play-stage/play-stage.component.html
  apps/rock-the-steps/src/app/play-stage/play-stage.component.scss
  apps/rock-the-steps/src/app/result-screen/result-screen.component.html
  apps/rock-the-steps/src/app/result-screen/result-screen.component.ts
  libs/shared/data-access-model/src/lib/constants/game-keys.constants.ts
  libs/shared/data-access-model/src/lib/enums/index.ts
  libs/shared/data-access-model/src/lib/enums/zone-type.enum.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
  libs/shared/phaser-singleton/src/lib/utilities/touch-zones-helper.ts
Due: eslint --fix, stylelint --fix

Settings screen and monshoes added (#89)
  apps/rock-the-steps/src/app/app.component.ts
  apps/rock-the-steps/src/app/app.module.ts
  apps/rock-the-steps/src/app/home/home.page.html
  apps/rock-the-steps/src/app/home/home.page.scss
  apps/rock-the-steps/src/app/home/home.page.ts
  apps/rock-the-steps/src/app/home/settings-modal/settings-modal.component.html
  apps/rock-the-steps/src/app/home/settings-modal/settings-modal.component.scss
  apps/rock-the-steps/src/app/home/settings-modal/settings-modal.component.ts
  apps/rock-the-steps/src/app/result-screen/result-screen.component.ts
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
  apps/rock-the-steps/src/assets/objects/moon.png
  libs/shared/data-access-model/src/lib/classes/World.class.ts
  libs/shared/data-access-model/src/lib/classes/character/character.ts
  libs/shared/data-access-model/src/lib/classes/obstacles/moon.class.ts
  libs/shared/data-access-model/src/lib/constants/game-keys.constants.ts
  libs/shared/data-access-model/src/lib/constants/game-units.constants.ts
  libs/shared/data-access-model/src/lib/enums/objects.enum.ts
  libs/shared/data-access-model/src/lib/services/audio.service.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
  libs/shared/phaser-singleton/src/lib/utilities/object-creation-helper.ts
  libs/shared/phaser-singleton/src/lib/utilities/touch-zones-helper.ts
Due: eslint --fix, stylelint --fix

chore(): version bumped
  apps/rock-the-steps/android/app/build.gradle
  apps/rock-the-steps/android/app/release/output-metadata.json
  apps/rock-the-steps/ios/App/App.xcodeproj/project.pbxproj
Due: none

feat(): added logic to retrieve player score for Android
  apps/rock-the-steps/android/capacitor.settings.gradle
  apps/rock-the-steps/ios/App/Podfile
  apps/rock-the-steps/package-lock.json
  apps/rock-the-steps/package.json
  apps/rock-the-steps/src/app/home/home.page.html
  apps/rock-the-steps/src/app/home/home.page.ts
  libs/shared/data-access-model/src/lib/services/game-connect.service.ts
  package-lock.json
  package.json
Due: eslint --fix

feat(): added plugin from npm
  apps/rock-the-steps/android/capacitor.settings.gradle
  apps/rock-the-steps/ios/App/Podfile
  apps/rock-the-steps/package-lock.json
  apps/rock-the-steps/package.json
  package-lock.json
  package.json
Due: none

feat(): unnecessary code removed and code documented
  apps/rock-the-steps/src/app/home/home.page.html
  apps/rock-the-steps/src/app/home/home.page.ts
  libs/shared/data-access-model/src/lib/services/game-connect.service.ts
Due: eslint --fix

Upgraded version of nx
  migrations.json
  nx.json
  package-lock.json
  package.json
Due: none

Upgraded version of nx
  .eslintrc.json
  README.md
  apps/rock-the-steps-e2e/project.json
  apps/rock-the-steps/jest.config.ts
  apps/rock-the-steps/project.json
  jest.config.ts
  jest.preset.ts
  libs/shared/data-access-model/jest.config.ts
  libs/shared/data-access-model/project.json
  libs/shared/phaser-singleton/jest.config.ts
  libs/shared/phaser-singleton/project.json
  migrations.json
  nx.json
  package-lock.json
  package.json
  tools/generators/.gitkeep
Due: eslint --fix

Added changes for files to match new linters updates
  libs/shared/data-access-model/src/lib/classes/obstacles/world-object.class.ts
  libs/shared/phaser-singleton/src/lib/phaser-singleton.module.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  libs/shared/phaser-singleton/src/lib/utilities/character-animation.ts
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
Due: eslint --fix

Changes to match linter updates
  apps/rock-the-steps/src/app/app.component.ts
  apps/rock-the-steps/src/test.ts
Due: eslint --fix

Tutorial modal and difficulties requirements (#92)
  apps/rock-the-steps/src/app/app.module.ts
  apps/rock-the-steps/src/app/stage-select/difficult-select-modal/difficult-select-modal.component.html
  apps/rock-the-steps/src/app/stage-select/difficult-select-modal/difficult-select-modal.component.ts
  apps/rock-the-steps/src/app/stage-select/stage-select.component.html
  apps/rock-the-steps/src/app/stage-select/stage-select.component.scss
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
  apps/rock-the-steps/src/app/stage-select/tutorial-modal/tutorial-modal.component.html
  apps/rock-the-steps/src/app/stage-select/tutorial-modal/tutorial-modal.component.scss
  apps/rock-the-steps/src/app/stage-select/tutorial-modal/tutorial-modal.component.ts
  apps/rock-the-steps/src/assets/tutorial/intro1.png
  apps/rock-the-steps/src/assets/tutorial/intro2.png
  apps/rock-the-steps/src/assets/tutorial/intro3.png
  apps/rock-the-steps/src/assets/tutorial/obstacle1.png
  apps/rock-the-steps/src/assets/tutorial/obstacle2.png
  apps/rock-the-steps/src/assets/tutorial/obstacle3.png
  apps/rock-the-steps/src/assets/tutorial/obstacle4.png
  apps/rock-the-steps/src/assets/tutorial/power1.png
  apps/rock-the-steps/src/assets/tutorial/power2.png
  apps/rock-the-steps/src/assets/tutorial/power3.png
  apps/rock-the-steps/src/global.scss
Due: eslint --fix, stylelint --fix

Nxupgrade (#93)
  .eslintrc.json
  README.md
  apps/rock-the-steps-e2e/project.json
  apps/rock-the-steps/jest.config.ts
  apps/rock-the-steps/project.json
  apps/rock-the-steps/src/app/app.component.ts
  apps/rock-the-steps/src/test.ts
  jest.config.ts
  jest.preset.ts
  libs/shared/data-access-model/jest.config.ts
  libs/shared/data-access-model/project.json
  libs/shared/data-access-model/src/lib/classes/obstacles/world-object.class.ts
  libs/shared/phaser-singleton/jest.config.ts
  libs/shared/phaser-singleton/project.json
  libs/shared/phaser-singleton/src/lib/phaser-singleton.module.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  libs/shared/phaser-singleton/src/lib/utilities/character-animation.ts
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
  migrations.json
  nx.json
  package-lock.json
  package.json
  tools/generators/.gitkeep
Due: eslint --fix

fix(city): background swap assets, adjust position
  apps/rock-the-steps/src/assets/city-scene/city-CHINA_TOWN.png
  apps/rock-the-steps/src/assets/city-scene/city-RITTEN_HOUSE.png
  libs/shared/data-access-model/src/lib/classes/objects/city-background.class.ts
Due: eslint --fix

Poop pigeon inconsistant (#94)
  apps/rock-the-steps/src/app/home/home.page.html
  apps/rock-the-steps/src/app/home/home.page.scss
  apps/rock-the-steps/src/app/stage-select/difficult-select-modal/difficult-select-modal.component.html
  apps/rock-the-steps/src/app/stage-select/difficult-select-modal/difficult-select-modal.component.scss
  apps/rock-the-steps/src/global.scss
  libs/shared/data-access-model/src/lib/classes/obstacles/pigeon.class.ts
  libs/shared/data-access-model/src/lib/constants/game-units.constants.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
  libs/shared/phaser-singleton/src/lib/utilities/touch-zones-helper.ts
Due: eslint --fix, stylelint --fix

Animation for power ups - Added tutorial for touch zones - WIP of animation for power ups - WIP of endless mode keeping points
  apps/rock-the-steps/src/app/stage-select/tutorial-modal/tutorial-modal.component.html
  apps/rock-the-steps/src/app/stage-select/tutorial-modal/tutorial-modal.component.scss
  apps/rock-the-steps/src/app/stage-select/tutorial-modal/tutorial-modal.component.ts
  apps/rock-the-steps/src/assets/powers/auras.json
  apps/rock-the-steps/src/assets/powers/auras.png
  apps/rock-the-steps/src/assets/tutorial/touch-zones.png
  apps/rock-the-steps/src/global.scss
  libs/shared/data-access-model/src/lib/classes/World.class.ts
  libs/shared/data-access-model/src/lib/classes/character/character.ts
  libs/shared/data-access-model/src/lib/constants/game-keys.constants.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  libs/shared/phaser-singleton/src/lib/utilities/character-animation.ts
Due: eslint --fix, stylelint --fix

Animation for power ups - Added tutorial for touch zones - WIP of animation for power ups - WIP of endless mode keeping points
  libs/shared/data-access-model/src/lib/classes/character/character.ts
Due: eslint --fix

feat(): update parallax effect on game
  libs/shared/data-access-model/src/lib/classes/objects/bushes.class.ts
  libs/shared/data-access-model/src/lib/classes/objects/city-background.class.ts
  libs/shared/data-access-model/src/lib/constants/game-units.constants.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
Due: eslint --fix

feat(): update sprite movement until end
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
Due: eslint --fix

fix(): make pigeons poop only on air
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
Due: eslint --fix

fix(world): add setGameSize to prevent interactive being below elements
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
Due: eslint --fix

feat(stage): wip update for unlock with points
  apps/rock-the-steps/src/app/stage-select/stage-select.component.html
  apps/rock-the-steps/src/app/stage-select/stage-select.component.ts
  apps/rock-the-steps/src/global.scss
  libs/shared/data-access-model/src/index.ts
  libs/shared/data-access-model/src/lib/models/world-progress.ts
Due: eslint --fix, stylelint --fix

feat(): start adding sandbox mode
  apps/rock-the-steps/src/app/stage-select/difficult-select-modal/difficult-select-modal.component.html
  apps/rock-the-steps/src/assets/buttons/settings.png
  libs/shared/data-access-model/src/lib/classes/obstacles/pigeon.class.ts
  libs/shared/data-access-model/src/lib/constants/game-keys.constants.ts
  libs/shared/data-access-model/src/lib/constants/game-units.constants.ts
  libs/shared/data-access-model/src/lib/enums/levels.enum.ts
  libs/shared/phaser-singleton/src/lib/phaser-singleton.module.ts
  libs/shared/phaser-singleton/src/lib/scenes/sandbox.scene.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
  libs/shared/phaser-singleton/src/lib/utilities/hud-helper.ts
  libs/shared/phaser-singleton/src/lib/utilities/object-creation-helper.ts
  libs/shared/phaser-singleton/src/lib/utilities/steps-helper.ts
  package-lock.json
  package.json
Due: eslint --fix

fix(): make pigeons poop only on air (#99)
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
Due: eslint --fix

Feat/parallax effect (#98)
  libs/shared/data-access-model/src/lib/classes/objects/bushes.class.ts
  libs/shared/data-access-model/src/lib/classes/objects/city-background.class.ts
  libs/shared/data-access-model/src/lib/constants/game-units.constants.ts
  libs/shared/phaser-singleton/src/lib/scenes/world.scene.ts
Due: eslint --fix

fix(app): swap to use the correct links for pp and tos
  apps/rock-the-steps/src/app/home/home.page.html
Due: eslint --fix

fix(app): swap to use the correct links for pp and tos (#101)
  apps/rock-the-steps/src/app/home/home.page.html
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: **/*.ts) or (any of: **/*.html)
  stylelint --fix: (any of: **/*.scss) or (any of: **/*.css)
